In [ ]:
import numpy as np

import matplotlib.pyplot as plt
import matplotlib.image as mpimg

# random
from numpy.random import rand, randn

# dataframes
import pandas as pd

# plotting
import matplotlib.pyplot as plt
# linear regression two ways
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
#This is so that you don't see a bunch of code 'warnings' (things that you could change but don't have to right now)
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
from sklearn import datasets, linear_model

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
from google.colab import drive
drive.mount("/drive")

Mounted at /drive

In [ ]:
boa_df=pd.read_csv('/drive/My Drive/orie4741 project/BOA2018.csv')
# citi_df=pd.read_csv('/drive/My Drive/orie4741 project/CITI.csv')
# jpm_df=pd.read_csv('/drive/My Drive/orie4741 project/JPMORGAN.csv')

# **Data Frame Overview**

In [ ]:
boa_df.shape

(377468, 99)

In [ ]:
boa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377468 entries, 0 to 377467
Data columns (total 99 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   activity_year                             377468 non-null  int64
 1   lei                                       377468 non-null  object
 2   derived_msa-md                            377468 non-null  int64
 3   state_code                                377468 non-null  object
 4   county_code                               377468 non-null  int64
 5   census_tract                              377468 non-null  int64
 6   conforming_loan_limit                     377374 non-null  object
 7   derived_loan_product_type                 377468 non-null  object
 8   derived_dwelling_category                 377468 non-null  object
 9   derived_ethnicity                         377468 non-null  object
 10  derived_race                              377468 non-null  object
 11  derived_sex                               377468 non-null  object
 12  action_taken                              377468 non-null  int64
 13  purchaser_type                            377468 non-null  int64
 14  preapproval                               377468 non-null  int64
 15  loan_type                                 377468 non-null  int64
 16  loan_purpose                              377468 non-null  int64
 17  lien_status                               377468 non-null  int64
 18  reverse_mortgage                          377468 non-null  int64
 19  open-end_line_of_credit                   377468 non-null  int64
 20  business_or_commercial_purpose            377468 non-null  int64
 21  loan_amount                               377468 non-null  float64
 22  loan_to_value_ratio                       375041 non-null  float64
 23  interest_rate                             204618 non-null  float64
 24  rate_spread                               195437 non-null  float64
 25  hoepa_status                              377468 non-null  int64
 26  total_loan_costs                          82796 non-null   float64
 27  total_points_and_fees                     0 non-null       float64
 28  origination_charges                       82801 non-null   float64
 29  discount_points                           34081 non-null   float64
 30  lender_credits                            45033 non-null   float64
 31  loan_term                                 377467 non-null  float64
 32  prepayment_penalty_term                   219076 non-null  float64
 33  intro_rate_period                         281122 non-null  float64
 34  negative_amortization                     377468 non-null  int64
 35  interest_only_payment                     377468 non-null  int64
 36  balloon_payment                           377468 non-null  int64
 37  other_nonamortizing_features              377468 non-null  int64
 38  property_value                            375039 non-null  float64
 39  construction_method                       377468 non-null  int64
 40  occupancy_type                            377468 non-null  int64
 41  manufactured_home_secured_property_type   377468 non-null  int64
 42  manufactured_home_land_property_interest  377468 non-null  int64
 43  total_units                               377468 non-null  object
 44  multifamily_affordable_units              93 non-null      float64
 45  income                                    366330 non-null  float64
 46  debt_to_income_ratio                      372660 non-null  object
 47  applicant_credit_score_type               377468 non-null  int64
 48  co-applicant_credit_score_type            377468 non-null  int64
 49  applicant_ethnicity-1                     377092 non-null  float64
 50  applicant_ethnicity-2                     22090 non-null   float64
 51  applicant_ethnicity-3                     308 non-null     float64
 52  applicant_ethnicity-4                     13 non-null      float64
 53  applicant_ethnicity-5                     4 non-null       float64
 54  co-applicant_ethnicity-1                  377372 non-null  float64
 55  co-applicant_ethnicity-2                  7870 non-null    float64
 56  co-applicant_ethnicity-3                  103 non-null     float64
 57  co-applicant_ethnicity-4                  5 non-null       float64
 58  co-applicant_ethnicity-5                  2 non-null       float64
 59  applicant_ethnicity_observed              377468 non-null  int64
 60  co-applicant_ethnicity_observed           377468 non-null  int64
 61  applicant_race-1                          377441 non-null  float64
 62  applicant_race-2                          30033 non-null   float64
 63  applicant_race-3                          1699 non-null    float64
 64  applicant_race-4                          123 non-null     float64
 65  applicant_race-5                          37 non-null      float64
 66  co-applicant_race-1                       377451 non-null  float64
 67  co-applicant_race-2                       12762 non-null   float64
 68  co-applicant_race-3                       659 non-null     float64
 69  co-applicant_race-4                       45 non-null      float64
 70  co-applicant_race-5                       13 non-null      float64
 71  applicant_race_observed                   377468 non-null  int64
 72  co-applicant_race_observed                377468 non-null  int64
 73  applicant_sex                             377468 non-null  int64
 74  co-applicant_sex                          377468 non-null  int64
 75  applicant_sex_observed                    377468 non-null  int64
 76  co-applicant_sex_observed                 377468 non-null  int64
 77  applicant_age                             377468 non-null  object
 78  co-applicant_age                          377468 non-null  object
 79  applicant_age_above_62                    376935 non-null  object
 80  co-applicant_age_above_62                 167156 non-null  object
 81  submission_of_application                 377468 non-null  int64
 82  initially_payable_to_institution          377468 non-null  int64
 83  aus-1                                     377468 non-null  int64
 84  aus-2                                     46723 non-null   float64
 85  aus-3                                     0 non-null       float64
 86  aus-4                                     0 non-null       float64
 87  aus-5                                     0 non-null       float64
 88  denial_reason-1                           377468 non-null  int64
 89  denial_reason-2                           34201 non-null   float64
 90  denial_reason-3                           6172 non-null    float64
 91  denial_reason-4                           561 non-null     float64
 92  tract_population                          377468 non-null  int64
 93  tract_minority_population_percent         377468 non-null  float64
 94  ffiec_msa_md_median_family_income         377468 non-null  int64
 95  tract_to_msa_income_percentage            377468 non-null  int64
 96  tract_owner_occupied_units                377468 non-null  int64
 97  tract_one_to_four_family_homes            377468 non-null  int64
 98  tract_median_age_of_housing_units         377468 non-null  int64
dtypes: float64(43), int64(42), object(14)
memory usage: 285.1+ MB

In [ ]:
boa_df.describe()

       activity_year  ...  tract_median_age_of_housing_units
count       377468.0  ...                      377468.000000
mean          2018.0  ...                          36.943291
std              0.0  ...                          18.378185
min           2018.0  ...                           0.000000
25%           2018.0  ...                          22.000000
50%           2018.0  ...                          35.000000
75%           2018.0  ...                          50.000000
max           2018.0  ...                          76.000000

[8 rows x 85 columns]

#  **Data Cleaning**

1.Dropping irrelevant columns

In [ ]:
drop_list=['hoepa_status','preapproval','lien_status','reverse_mortgage','open-end_line_of_credit','aus-1','activity_year','purchaser_type','lei','state_code','multifamily_affordable_units','census_tract',	'total_points_and_fees','co-applicant_ethnicity-2','co-applicant_ethnicity-3','co-applicant_ethnicity-4','co-applicant_ethnicity-5','applicant_race-2','applicant_race-3','applicant_race-4','applicant_race-5','co-applicant_race-2','co-applicant_race-3','co-applicant_race-4','co-applicant_race-5','aus-2','aus-3','aus-4','aus-5','denial_reason-2','denial_reason-3','denial_reason-4','applicant_ethnicity-2',
       'applicant_ethnicity-3', 'applicant_ethnicity-4','co-applicant_sex_observed','applicant_sex_observed','applicant_ethnicity_observed', 'co-applicant_ethnicity_observed','applicant_race_observed',
       'co-applicant_race_observed', 'applicant_ethnicity-5','prepayment_penalty_term','denial_reason-1','interest_only_payment','balloon_payment','negative_amortization','other_nonamortizing_features','interest_rate','total_loan_costs','origination_charges','discount_points','lender_credits','tract_median_age_of_housing_units','tract_one_to_four_family_homes','tract_owner_occupied_units','intro_rate_period','loan_to_value_ratio', 'manufactured_home_land_property_interest','manufactured_home_secured_property_type','construction_method','rate_spread','initially_payable_to_institution']


boa_df=boa_df.drop(drop_list, axis=1)

In [ ]:
len(drop_list)

63

2.Converting data type for categorical features

In [ ]:
cat_f=['submission_of_application', 'applicant_age_above_62','applicant_sex', 'co-applicant_sex',
 'applicant_ethnicity-1', 'co-applicant_ethnicity-1', 'co-applicant_race-1','applicant_credit_score_type', 'co-applicant_credit_score_type',
 'occupancy_type']
boa_df[cat_f]=boa_df[cat_f].astype(str)

In [ ]:
cf2=['loan_purpose','business_or_commercial_purpose']
boa_df[cf2]=boa_df[cf2].astype(str)

In [ ]:
boa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377468 entries, 0 to 377467
Data columns (total 36 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   derived_msa-md                     377468 non-null  int64
 1   county_code                        377468 non-null  int64
 2   conforming_loan_limit              377374 non-null  object
 3   derived_loan_product_type          377468 non-null  object
 4   derived_dwelling_category          377468 non-null  object
 5   derived_ethnicity                  377468 non-null  object
 6   derived_race                       377468 non-null  object
 7   derived_sex                        377468 non-null  object
 8   action_taken                       377468 non-null  int64
 9   loan_type                          377468 non-null  int64
 10  loan_purpose                       377468 non-null  object
 11  business_or_commercial_purpose     377468 non-null  object
 12  loan_amount                        377468 non-null  float64
 13  loan_term                          377467 non-null  float64
 14  property_value                     375039 non-null  float64
 15  occupancy_type                     377468 non-null  object
 16  total_units                        377468 non-null  object
 17  income                             366330 non-null  float64
 18  debt_to_income_ratio               372660 non-null  object
 19  applicant_credit_score_type        377468 non-null  object
 20  co-applicant_credit_score_type     377468 non-null  object
 21  applicant_ethnicity-1              377468 non-null  object
 22  co-applicant_ethnicity-1           377468 non-null  object
 23  applicant_race-1                   377441 non-null  float64
 24  co-applicant_race-1                377468 non-null  object
 25  applicant_sex                      377468 non-null  object
 26  co-applicant_sex                   377468 non-null  object
 27  applicant_age                      377468 non-null  object
 28  co-applicant_age                   377468 non-null  object
 29  applicant_age_above_62             377468 non-null  object
 30  co-applicant_age_above_62          167156 non-null  object
 31  submission_of_application          377468 non-null  object
 32  tract_population                   377468 non-null  int64
 33  tract_minority_population_percent  377468 non-null  float64
 34  ffiec_msa_md_median_family_income  377468 non-null  int64
 35  tract_to_msa_income_percentage     377468 non-null  int64
dtypes: float64(6), int64(7), object(23)
memory usage: 103.7+ MB

3.Missing Values Imputing

In [ ]:
# number of missing values in each columns
col_nan=boa_df.columns[boa_df.isnull().any()]
n_col_nan=len(boa_df.columns[boa_df.isnull().any()])
print(n_col_nan)
nan_sum=boa_df[col_nan].isna().sum()
nan_sum

7

conforming_loan_limit            94
loan_term                         1
property_value                 2429
income                        11138
debt_to_income_ratio           4808
applicant_race-1                 27
co-applicant_age_above_62    210312
dtype: int64

In [ ]:
#dropping unsignificant rows (since these are really little amount of data among 30K data we have)
boa_df=boa_df.dropna(subset=['conforming_loan_limit','loan_term','property_value','debt_to_income_ratio','applicant_race-1', 'co-applicant_race-1','co-applicant_race-1','applicant_ethnicity-1','co-applicant_ethnicity-1','applicant_age_above_62'])

In [ ]:
#dealing with missing values in co-applicant_age_above_62 column
boa_df['co-applicant_age_above_62'] = boa_df.apply(
    lambda row: 3 if pd.isnull(row['co-applicant_age_above_62']) else row['co-applicant_age_above_62'],
    axis=1)

In [ ]:
#creating a new column for missing income
boa_df['missing_income'] = boa_df.apply(lambda row: 1 if pd.isna(row['income']) else 0, axis=1)

In [ ]:
boa_df['missing_income']=boa_df['missing_income'].astype(str)

In [ ]:
col_corr=boa_df.corr(method='pearson')
col_corr['income'].sort_values(ascending=False,key=abs)

income                               1.000000
loan_amount                          0.463502
tract_to_msa_income_percentage       0.187248
property_value                       0.107028
action_taken                        -0.081417
ffiec_msa_md_median_family_income    0.073511
tract_minority_population_percent   -0.068951
loan_term                           -0.057398
county_code                         -0.022063
tract_population                    -0.021299
loan_type                           -0.019860
applicant_race-1                     0.008090
derived_msa-md                       0.007666
Name: income, dtype: float64

In [ ]:
# predicting missing income with loan amount since they are the most correlated 
available_income=boa_df.dropna(subset=['income'])
income_model = linear_model.LinearRegression().fit(available_income[['loan_amount']],available_income[['income']])
m_income=income_model.coef_
b_income=income_model.intercept_
boa_df['income'] = boa_df.apply(lambda row: m_income[0][0]*row['loan_amount']+b_income[0] if np.isnan(row['income']) else row['income'],axis=1)

In [ ]:
#approved1/denied0 column 
boa_df['action_taken'] = boa_df.apply(lambda row: 1 if row['action_taken']==1 or row['action_taken']==2 else 0,axis=1)

In [ ]:
col_corr['action_taken'].sort_values(ascending=False,key=abs)

action_taken                         1.000000
loan_amount                         -0.207202
tract_to_msa_income_percentage      -0.151305
tract_minority_population_percent    0.147943
loan_term                            0.130209
income                              -0.081417
ffiec_msa_md_median_family_income   -0.078459
property_value                      -0.021052
loan_type                           -0.013655
tract_population                     0.012710
applicant_race-1                     0.010029
derived_msa-md                      -0.001803
county_code                         -0.001036
Name: action_taken, dtype: float64

In [ ]:
boa_df=boa_df.drop(['derived_msa-md','county_code','tract_population','ffiec_msa_md_median_family_income', 'applicant_race-1','loan_type'], axis=1)

In [ ]:
boa_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 371933 entries, 0 to 377467
Data columns (total 31 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   conforming_loan_limit              371933 non-null  object
 1   derived_loan_product_type          371933 non-null  object
 2   derived_dwelling_category          371933 non-null  object
 3   derived_ethnicity                  371933 non-null  object
 4   derived_race                       371933 non-null  object
 5   derived_sex                        371933 non-null  object
 6   action_taken                       371933 non-null  int64
 7   loan_purpose                       371933 non-null  object
 8   business_or_commercial_purpose     371933 non-null  object
 9   loan_amount                        371933 non-null  float64
 10  loan_term                          371933 non-null  float64
 11  property_value                     371933 non-null  float64
 12  occupancy_type                     371933 non-null  object
 13  total_units                        371933 non-null  object
 14  income                             371933 non-null  float64
 15  debt_to_income_ratio               371933 non-null  object
 16  applicant_credit_score_type        371933 non-null  object
 17  co-applicant_credit_score_type     371933 non-null  object
 18  applicant_ethnicity-1              371933 non-null  object
 19  co-applicant_ethnicity-1           371933 non-null  object
 20  co-applicant_race-1                371933 non-null  object
 21  applicant_sex                      371933 non-null  object
 22  co-applicant_sex                   371933 non-null  object
 23  applicant_age                      371933 non-null  object
 24  co-applicant_age                   371933 non-null  object
 25  applicant_age_above_62             371933 non-null  object
 26  co-applicant_age_above_62          371933 non-null  object
 27  submission_of_application          371933 non-null  object
 28  tract_minority_population_percent  371933 non-null  float64
 29  tract_to_msa_income_percentage     371933 non-null  int64
 30  missing_income                     371933 non-null  object
dtypes: float64(5), int64(2), object(24)
memory usage: 100.8+ MB

In [ ]:
boa_df.to_csv (path_or_buf=r'/drive/My Drive/orie4741 project/boa_data.csv')